/* ========== GLOBAL STYLES ========== */
:root{
    --dark-blue: #011627;
    --white: rgb(253, 255, 252);
    --cyan: #2ec4b6;
    --red: #e71d36;
    --orange: #ff9f1c;
    --light-grey: #EFEFEF;
    --green: #5cd73f;
    --yellow: #e8d929;
}
html{
    width: 100%;
    height: 100%;
}

body{
    background-color: var(--light-grey);
    font-family: Cambria, sans-serif;
    margin: 0;
    color: var(--dark-blue);
}

a{
    text-decoration: none;
    color: var(--dark-blue);
}

/* ========== HEADER STYLES ========== */
header{
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    align-items: center;
    padding: 2vh 0 2vh 0;
    color: var(--dark-blue);
    z-index: 9999;
    user-select: none;
}
#artist-search-div{
    background-color: var(--light-grey);
    border-radius: 3em;
    display: flex;
    align-items: center;
    padding: 0 1em 0 1em;
}
#artist-search-div img{
    max-width: 1.5em;
}
#artist-search{
    height: 4em;
    min-width: 30vw;
    width: 100%;
    border-radius: 3em;
    border: none;
    background-color: transparent;
}
#artist-search:focus{
    outline: none;
}
@media (max-width: 420px) {
    header {
        text-align: left;
        height: auto;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
    }
    header h1{
        width: fit-content;
    }
    #artist-search-div{
        grid-column: span 2;
    }
    #artist-search{
        height: 3em;
    }
}

/* ========== MAIN CONTENT STYLES ========== */
main{
    padding-top: 15vh;
    min-height: 71vh;
}
@media (max-width: 420px) {
    main{
        padding-top: 28vh;
    }
}

/* ========== GRID STYLES ========== */

#artist-grid{
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    border-bottom: 2px solid var(--orange);
    padding-bottom: 1em;
}

#album-grid{
    padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    border-bottom: 2px solid var(--orange);
    padding-bottom: 1em;
}
#track-grid{
    padding-inline: unset;
    margin-block: unset;
    margin-top: 0;
    padding-top: 1em;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    border-bottom: 2px solid var(--orange);
    max-width: 100vw;
}

#track-grid li{
    margin: 0 1em 0.5em 1em;
    list-style: none;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: var(--light-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-blue);
    text-shadow: 1px 1px 0 var(--light-grey), 0 0 0 var(--light-grey);
}

@media (min-width: 550px){
    #artist-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    #album-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 900px) {
    #artist-grid{
        grid-template-columns: repeat(6, 1fr);
    }
    #album-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1200px) {
    #artist-grid{
        grid-template-columns: repeat(8, 1fr);
    }
    #album-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1500px) {
    #artist-grid{
        grid-template-columns: repeat(10, 1fr);
    }
    #album-grid{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 1800px) {
    #artist-grid{
        grid-template-columns: repeat(12, 1fr);
    }
    #album-grid{
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (min-width: 2100px) {
    #artist-grid{
        grid-template-columns: repeat(14, 1fr);
    }
    #album-grid{
        grid-template-columns: repeat(7, 1fr);
    }
}

.grid-container article{
    padding: 1em 1em 3em 1em;
    position: relative;
    max-width: 90vw;
    min-height: 25vh;
    background-size: cover;
    color: var(--white);
    text-shadow: 1px 1px 0 var(--dark-blue), 0 0 0 var(--dark-blue);
    border-radius: 0.2em;
}


#album-grid article{
    min-height: 50vh;
}
#album-grid article div p{
    display: block;
    padding: 0;
    margin: 0;
}

/* ========== TABS ========== */
#tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#tabs h2 {
    margin: 0;
    padding: .5em;
    cursor: pointer;
}
#tabs>div{
    grid-column: span 3;
}
#tabs h2.selected {
    border: 1px solid var(--dark-blue);
    border-radius: 0.5em 0.5em 0 0;
    border-bottom: none;
    background-color: var(--white);
}

#tabs h2:not(.selected) {
    border-bottom: 1px solid var(--dark-blue);
}

#tabs>div>section, #tabs>div>ul {
    top: 1vh;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

.hide {
    display: none;
}

/* ========== FOOTER STYLES ========== */

footer{
    margin-top: 6.9vh;
    background-color: var(--dark-blue);
    z-index: 999;
    color: var(--light-grey);
    padding: 1px;
    text-align: center;
    font-size: 0.75em;
}
footer a{
    color: var(--cyan);
}

.hidden{
    display: none;
}