/* ========== GLOBAL STYLES ========== */
:root{
    --dark-blue: #011627;
    --white: rgb(253, 255, 252);
    --cyan: #2ec4b6;
    --red: #e71d36;
    --orange: #ff9f1c;
    --light-grey: #EFEFEF;
    --green: #5cd73f;
    --yellow: #e8d929;
}
html{
    width: 100%;
    height: 100%;
}

body{
    background-color: var(--light-grey);
    font-family: Cambria, sans-serif;
    margin: 0;
    color: var(--dark-blue);
}

a{
    text-decoration: none;
    color: var(--dark-blue);
}

/* ========== HEADER STYLES ========== */
header{
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    align-items: center;
    padding: 2vh 0 2vh 0;
    color: var(--dark-blue);
    z-index: 9999;
    user-select: none;
}
#artist-search-div{
    background-color: var(--light-grey);
    border-radius: 3em;
    display: flex;
    align-items: center;
    padding: 0 1em 0 1em;
}
#artist-search-div img{
    max-width: 1.5em;
}
#artist-search{
    height: 4em;
    min-width: 30vw;
    width: 100%;
    border-radius: 3em;
    border: none;
    background-color: transparent;
}
#artist-search:focus{
    outline: none;
}

@media (max-width: 420px) {
    header {
        text-align: left;
        height: auto;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
    }
    header h1{
        width: fit-content;
    }
    #artist-search-div{
        grid-column: span 2;
    }
    #artist-search{
        height: 3em;
    }
}


/* ========== MAIN CONTENT STYLES ========== */
main{
    padding-top: 12vh;
}
@media (max-width: 420px) {
    main{
        padding-top: 25vh;
    }
}

/* ========== GRID STYLES ========== */

.grid-container{
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    border-bottom: 2px solid var(--orange);
    padding-bottom: 1em;
}

@media (min-width: 550px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 900px) {
    .grid-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1200px) {
    .grid-container{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1500px) {
    .grid-container{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 1800px) {
    .grid-container{
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (min-width: 2100px) {
    .grid-container{
        grid-template-columns: repeat(7, 1fr);
    }
}

.grid-container article{
    padding: 1em 1em 0 1em;
    cursor: pointer;
    position: relative;
    max-width: 90vw;
    min-height: 50vh;
    background-size: cover;
    color: var(--white);
    text-shadow: 1px 1px 0 var(--dark-blue), 0 0 0 var(--dark-blue);
}

/* ========== FOOTER STYLES ========== */

footer{
    background-color: var(--dark-blue);
    color: var(--light-grey);
    padding: 1px;
    text-align: center;
    font-size: 0.75em;
}
footer a{
    color: var(--cyan);
}

.hidden{
    display: none;
}